.DS_Store
2-DATA/BACKUP/FLUX.csv
2-DATA/BACKUP/VUE_FLUX.csv
2-DATA/BACKUP/VUE_FLUX_MAct.csv
2-DATA/BACKUP/VUE_FLUX_SAct.csv
2-DATA/BACKUP/*.backup
2-DATA/Target.xlsx
3-GUI/__pycache__
4-REPORT/Dashboard.pbix